tweepy
python-dotenv
pyppeteer~=2.0.0
pyppeteer-stealth
pandas~=2.2.3
nltk~=3.9.1
scikit-learn~=1.5.2
matplotlib~=3.8.0
wordcloud~=1.9.4
flask~=2.1.1
networkx~=3.4.2
textblob~=0.18.0.post0
langdetect~=1.0.9
emoji~=2.14.0